PORT=8000
JWT_SECRET=changeme
POSTGRESQL_URL=postgres://postgres:changeme@localhost:5432/ticketing-master
REDIS_URL=redis://localhost:6379
MAX_CONCURRENT_QUEUE=10
DEMO_MODE=true
WHITELIST_TTL=45s
HEARTBEAT_TTL=30s
QUEUE_TTL=5m
PROMOTE_INTERVAL=1s
